@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#root {
	/* width: 425px; */
	max-width: 425px;
	max-height: 700px;
	/* width: 100vw; */
	margin: 0 auto;
	padding: 0.01rem;
	text-align: center;
	
	background-image: url("./assets/door.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	letter-spacing: 0.3rem;
	/* overflow: hidden; */
}
