@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	display: flex;
	/* overflow: hidden; */
}
body {
	max-width: 425px;
}
html {
	margin: 0 auto;
}

#root {
	width: 100%;
	height: 100%;
	background-image: url("./../door.svg");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
